.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}
.navButton {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imglogo{
  height:50px ;
  width: 70px;
  
}
.logo{
  font-size: 50px;
  font-weight: 100;
  
  color: gray;
}

